img {
    width: 200px;
    border-radius: 50px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
  }

  .username {
    font-weight: bold;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    border-radius: 5%;
  }

  em {
    color: red;
    font-style: normal;
  }

  .special {
    color: violet;
    font: roboto;
  }

  input[type='text'] {
      color: blue
  }

  #boxes{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 200px;
    height: 200px;
  }